.dummy {
    max-width: 1280px;
    margin: 0 auto;

    .row-grid {

        @media(min-width: 360px) {
            grid-template-columns: 1fr 1fr;
        }

        @media(min-width: 768px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media(min-width: 1366px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .item-article {
            margin: 20px 0;

            &__text {
                &--date {
                    display: none;
                }
            }
        }
    }
}